@model BookMarket.Models.ViewModels.HomeViewModels.IndexViewModel

@{
    ViewData["Title"] = "Главная страница";
}


<section class="text-center main_page">
    <h1 class="display-4">Электронная библиотека</h1>
    <section>
        <a asp-controller="SearchBook" asp-action="Index" method="get">
            <div>
                <h2 class="text-center">Новинки на сайте</h2>
            </div>
        </a>
        <div class="row newsBook__groups">
            @foreach (var item in Model.newsBooks)
            {
                <div class="bookData col-xs-12 col-sm-6 col-md-3 col-centered col-min">
                    <div class="bookData__image">
                        <a asp-action="AboutBook" asp-controller="Books" asp-route-id="@item.Id">
                            <img src="data:image;base64, @System.Convert.ToBase64String(item.PosterBook)" />
                        </a>
                    </div>
                    <div class="bookData__name">
                        <a asp-action="AboutBook" asp-controller="Books" asp-route-id="@item.Id" asp-route-name="@item.Name">
                            <h3>@item.Name</h3>
                        </a>
                    </div>
                    <div class="bookData__rating">
                        @if (item.RatingBook != 0)
                        {
                            <h6>Рейтинг @item.RatingBook.ToString("0.00") <span>★</span></h6>
                        }
                        else
                        {
                            <h6>Нет рейтинга</h6>
                        }
                    </div>
                    <div class="bookData_author">
                        <a asp-action="Details" asp-controller="Authors" asp-route-id="@item.IdAuthor" asp-route-name="@item.AuthorNameFamily">
                            <h4>@item.AuthorNameFamily</h4>
                        </a>
                    </div>
                </div>
            }
        </div>
    </section>
    <section>
        <a class="mainPage__link" asp-controller="SearchBook" asp-action="Index" asp-route-RatingOrdered="true" method="get">
            <div>
                <h2 class="text-center">Популярные книги на сайте</h2>
            </div>
        </a>
        <div class="row newsBook__groups">
            @foreach (var item in Model.topBooks)
            {
                <div class="bookData col-xs-12 col-sm-6 col-md-3 col-centered col-min">
                    <div class="bookData__image">
                        <a asp-action="AboutBook" asp-controller="Books" asp-route-id="@item.Id">
                            <img src="data:image;base64, @System.Convert.ToBase64String(item.PosterBook)" />
                        </a>
                    </div>
                    <div class="bookData__name">
                        <a asp-action="AboutBook" asp-controller="Books" asp-route-id="@item.Id" asp-route-name="@item.Name">
                            <h3>@item.Name</h3>
                        </a>
                    </div>
                    <div class="bookData__rating">
                        @if (item.RatingBook != 0)
                        {
                            <h6>Рейтинг @item.RatingBook.ToString("0.00") <span>★</span></h6>
                        }
                        else
                        {
                            <h6>Нет рейтинга</h6>
                        }
                    </div>
                    <div class="bookData_author">
                        <a asp-action="Details" asp-controller="Authors" asp-route-id="@item.IdAuthor" asp-route-name="@item.AuthorNameFamily">
                            <h4>@item.AuthorNameFamily</h4>
                        </a>
                    </div>
                </div>
            }
        </div>
    </section>
    <section class="lastCommentsBooks">
        <h2 class="text-center">Новые комментарии</h2>
        <div class="row newsBook__groups">
            @foreach (var item in Model.lastCommentBooks)
            {
                <div class="bookData col-xs-12 col-sm-6 col-md-3 col-centered col-min">
                    <div class="bookData__image">
                        <a asp-action="AboutBook" asp-controller="Books" asp-route-id="@item.Key.Id">
                            <img src="data:image;base64, @System.Convert.ToBase64String(item.Key.PosterBook)" />
                        </a>
                    </div>
                    <div class="bookData__name">
                        <a asp-action="AboutBook" asp-controller="Books" asp-route-id="@item.Key.Id" asp-route-name="@item.Key.Name">
                            <h3>@item.Key.Name</h3>
                        </a>
                    </div>
                    <div class="bookData__rating">
                        @if (item.Key.RatingBook != 0)
                        {
                            <h6>Рейтинг @item.Key.RatingBook.ToString("0.00") <span>★</span></h6>
                        }
                        else
                        {
                            <h6>Нет рейтинга</h6>
                        }
                    </div>
                    <div class="bookData_author">
                        <a asp-action="Details" asp-controller="Authors" asp-route-id="@item.Key.IdAuthor" asp-route-name="@item.Key.AuthorNameFamily">
                            <h4>@item.Key.AuthorNameFamily</h4>
                        </a>
                    </div>
                </div>
            }
        </div>
    </section>
    <section class="genresBlock">
        <div class="container">
            <h2 class="text-center">Жанры</h2>
            <div class="separator"></div>
            <ul class="row">
                @foreach (var item in Model.CategoryGenres)
                {
                    <li class="text-left col-lg-3 col-md-6 col-sm-6 col-6">
                        <h5>@item.Key.Name</h5>
                        <ul class="genreContent">
                            @foreach (var link in item.Value)
                            {
                                <li><a asp-controller="SearchBook" asp-action="Index" asp-route-idGenre="@link.Id" asp-route-name="@link.Name">@link.Name</a></li>
                            }
                            @*<li><a href="#">Подробнее</a></li>*@
                        </ul>
                    </li>
                }
            </ul>

        </div>
    </section>
    <section class="UsersRating text-center container-fluid px-0 mx-0">
        <h3 class="text-center">Рейтинг читателей</h3>
        <div class="CommentaryBox CommentaryBox__header container">
            <div class="row commentator align-items-center">
                <div class="col-1 commentator_number">
                    №
                </div>
                <div class="col-5 commentator_data">
                    Пользователь
                </div>
                <div class="col-3 commentator__TotalRating">
                    Количество оценок
                </div>
                <div class="col-2 col-md-3 commentator__stars">
                    Средний балл
                </div>
            </div>
        </div>
        @{
            int count = 1;
            @foreach (var item in Model.topUsers)
            {
                <div class="CommentaryBox container">
                    <a asp-controller="Profile" asp-action="Index" asp-route-name="@item.Name">
                        <div class="row commentator align-items-center">
                            <div class="col-1 col-md-1 px-0 commentator_ava text-center">
                                @(count++)
                            </div>
                            <div class="col-6 col-md-5 commentator_ava">
                                <div class="container mx-0 px-0">
                                    <div class="row align-items-center  ">
                                        <div class="col-3 px-0">
                                            @if (item.Ava != null)
                                            {
                                                <img src="data:image;base64, @System.Convert.ToBase64String(item.Ava)" alt="avatar">
                                            }
                                            else
                                            {
                                                <img src="~/Images/avatar.png" alt="avatar">
                                            }
                                        </div>
                                        <div class="col px-0">
                                            @item.Name
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="col-2 px-0 col-md-3 commentator__ava">
                                @item.TotalComments
                            </div>
                            <div class="col-md-3 mx-0 px-0 col-3 commentator__stars">
                                @item.AvgRating <span>★</span>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }

    </section>
    <section class="UsersRating text-center container-fluid px-0 mx-0">
        <h3 class="text-center">Новые пользователи</h3>
        <div class="CommentaryBox CommentaryBox__header container">
            <div class="row commentator align-items-center">
                <div class="col-2 commentator_number">
                    №
                </div>
                <div class="col-6 commentator_data">
                    Пользователь
                </div>
                <div class="col-4">
                    Дата регистрации
                </div>
            </div>
        </div>
        @{
            count = 1;
            @foreach (var item in Model.NewUsers)
            {
                <div class="CommentaryBox container">
                    <a asp-controller="Profile" asp-action="Index" asp-route-name="@item.Name">
                        <div class="row commentator align-items-center">
                            <div class="col-2 col-md-2 px-0 commentator_ava text-center">
                                @(count++)
                            </div>
                            <div class="col-6 col-md-6 commentator_ava">
                                <div class="container mx-0 px-0">
                                    <div class="row align-items-center  ">
                                        <div class="col-3 px-0">
                                            @if (item.Ava != null)
                                            {
                                                <img src="data:image;base64, @System.Convert.ToBase64String(item.Ava)" alt="avatar">
                                            }
                                            else
                                            {
                                                <img src="~/Images/avatar.png" alt="avatar">
                                            }
                                        </div>
                                        <div class="col px-0">
                                            @item.Name
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 px-0 commentator_ava text-center">
                                @item.dateRegistration.ToString("F")
                            </div>
                        </div>
                    </a>
                </div>
            }
        }

    </section>
</section>



