@model IEnumerable<Book>

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center main_page">
    <h1 class="display-4">Электронная библиотека</h1>
    <a href="https://online-knigi.com/new">
        <div>
            <h2 class="text-center">Новинки на сайте</h2>
        </div>
    </a>
    <div class="row newsBook__groups">
        @foreach (var item in Model)
        {
            <div class="bookData">
                <div class="bookData__image">
                    <a asp-action="AboutBook" asp-controller="Books" asp-route-id="@item.Id">
                        <img src="data:image;base64, @System.Convert.ToBase64String(item.PosterBook)" />
                    </a>
                </div>
                <div class="bookData__name">
                    <a asp-action="AboutBook" asp-controller="Books" asp-route-id="@item.Id">
                        @item.Name
                    </a>
                </div>
                <div class="bookData_author">
                    <a asp-action="Details" asp-controller="Authors" asp-route-id="@item.IdAuthor">
                        @item.IdAuthorNavigation.Name
                    </a>
                </div>
            </div>
        }
    </div>

</div>

