@model BookMarket.Models.DataBase.Book

@{
    ViewData["Title"] = Model.Name;
}

<div class="book-view">
    <div class="book-view__info">
        <div class="row">
            <div class="book-view__poster col-xl text-center">
                <img src="data:image;base64, @System.Convert.ToBase64String(Model.PosterBook)" />
            </div>
            <div class="col-xl-9 text-center">
                <h1>@Model.Name</h1>
                <h2>@Model.IdAuthorNavigation.Name @Model.IdAuthorNavigation.Family</h2>
                <h3>@Model.Description</h3>
                <a class="btn btn-success" asp-action="GetBook" asp-controller="Books" asp-route-idBook="@Model.Id">
                    <span class="fa fa-book"></span> Читать книгу
                </a>
            </div>
            <div class="col-xl-9">
                <div class="aboutBookBox">
                    Отзывы на книгу @Model.Name
                </div>                
                <div class="actionBox">
                    Оставить отзыв
                    <form>
                        <div class="form-group">

                        </div>
                        <div class="form-group">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>