@model BookMarket.Models.ViewModels.AboutBookViewModel
@{
    ViewData["Title"] = Model.book.Name;
}

<div class="book-view">
    <div class="book-view__info">
        <div class="row">
            <div class="book-view__poster col-xl-3 text-center">
                <img src="data:image;base64, @System.Convert.ToBase64String(Model.book.PosterBook)" />
            </div>
            <div class="col-xl-9 text-center">
                <h1>@Model.book.Name</h1>
                <h2>@Model.book.IdAuthorNavigation.Name @Model.book.IdAuthorNavigation.Family</h2>
                @if (Model.RatingBook != 0)
                {
                    <h3 class="about__rating">Рейтинг @Model.RatingBook <span>★</span></h3>
                }
                else
                {
                    <h3 class="book-view__info__h3rating">Будьте первым, кто поставит рейтинг!</h3>
                }

                <h3>@Model.book.Description</h3>
                <a class="btn btn-success" asp-action="GetBook" asp-controller="Books" asp-route-idBook="@Model.book.Id">
                    <span class="fa fa-book"></span> Читать книгу
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container aboutBookBox">
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.MyComment == null)
        {
            @await Html.PartialAsync("AddCommentary", new AddCommentaryOnBookViewModel() { IdBook = Model.book.Id })
        }
        else
        {
            <div class="aboutBookBox__myComment">
                <div class="row">
                    <div class="col-12">
                        <h5 class="text-center">Ваш комментарий</h5>
                    </div>
                    <div class="col-12 aboutBookBox__myComment__rating">
                        <h6 class="text-center">Рейтинг @Model.MyComment.Mark.ToString("0.00") <span>★</span></h6>
                    </div>
                    <div class="col-12 aboutBookBox__myComment__date">
                        <h6 class="text-center">@Model.MyComment.DateCreated.ToString("F")</h6>
                    </div>
                    <div class="col-12 aboutBookBox__myComment__text">
                        <p>@Model.MyComment.Comment</p>
                    </div>
                    <div class="col-12 aboutBookBox__myComment__btn text-center">
                        <button id="btn_Edit" class="btn">
                            Редактировать <i class="fa fa-pencil"></i>
                        </button>
                    </div>
                </div>

            </div>

        }

    }
    else
    {
        <p>Авторизируйтесь, чтобы оставлять комментарии</p>
    }
    @if (Model.RatingsBook.Count != 0)
    {
        <h3>Отзывы на книгу @Model.book.Name</h3>
    }
    else
    {
        if (Model.MyComment == null)
        {
            <h3>Оставьте первый отзыв на книгу @Model.book.Name</h3>
        }
        else
        {
            <h3>Отзывы на книгу @Model.book.Name</h3>
        }

    }
    @foreach (var item in Model.RatingsBook)
    {

        <div class="container commentaryBox">
            <div class="row commentaryBox__title">
                <div class="col-xl-9">
                    <div class="row text-xl-left text-center">
                        <div class="col-xl-3">
                            <h5>@item.UserName</h5>
                        </div>
                        <input type="hidden" name="mark" value="@item.Mark" />
                        <div class="col-xl rating-result">
                            @for (int i = 0; i < 10; i++)
                            {
                                if (i < item.Mark)
                                {
                                    <span class="active"></span>
                                }
                                else
                                {
                                    <span></span>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 text-center">@item.DateCreated.ToString("F")</div>
            </div>
            <div class="row commentaryBox__text">
                @item.Comment
            </div>
        </div>
    }


</div>

@section Scripts {
    @if (User.Identity.IsAuthenticated && Model.MyComment != null)
    {
        <script src="~/js/Commentary.js"></script>
        <script>

        var btn_edit = "#btn_Edit"
            $(btn_edit).click(function () {
                var text = $(".aboutBookBox__myComment__text p").text();
            EditComment(@Model.book.Id, text, @Model.MyComment.Id)
        });
        </script>
    }

    <script>
        var commentaries = $(".commentaryBox");
        commentaries.each(function (i, elem) {
            var rating = $(this).find("input").val();
            if (rating >= 6) {
                $(this).addClass("commentaryBox__good");
            }
            else if (rating < 6) {
                $(this).addClass("commentaryBox__bad");
            }

        });

    </script>


}

@section Css {
    <link href="~/css/aboutBook.css" rel="stylesheet" />
}