
@{
    ViewData["Title"] = "book";
}

    <div>
        <p>
            <select class="form-control" id="opt">                                
                <option selected disabled>Выберите главу</option>
                @foreach(var item in ViewBag.list)
                {
                    <option value="@item.Id">@item.ChapterName</option>
                }
            </select>
        </p>
        <div id="content"></div>

    </div>


    <script src="~/js/GetBookDataAjax.js"></script>
    <script type="text/javascript">
        

        $(document).ready(function () {

            var opin = $('#opt').get(0).val;

            alert(opin + '435');


            GetBookDataJson(@ViewBag.idBook, @ViewBag.i);
            $('#opt').on('change', function (e) {
                
                var numb = $("#opt").val();

                GetBookDataJson(@ViewBag.idBook, numb);

            });
        });

    </script>


