@model BookMarket.Models.ViewModels.SearchBook.SearchBookIndexVM

<section>
    <div class="container">
        <div class="row searchBook">
            <div class="col-lg-3">
                <ul id="accordion" class="accordion">
                    @foreach (var item in Model.CategoryGenres)
                    {
                        <li>
                            <div class="link"><i class="fa fa-book"></i>@item.Key.Name<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu">
                                @foreach (var category in item.Value)
                                {
                                    <li>
                                        <a onclick="SearchBooks('', 1, @category.Id, @(Model.RatingOrdered == true ? 1 : 0))">
                                            <div class="row">
                                                <div class="col-9">
                                                    @category.Name
                                                </div>
                                                <div class="col-3">
                                                    <span class="submenu__countBooks">@category.CountBooks</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
                <div id="lastVisitBooks">
                    
                </div>
            </div>
            <div id="contentBooks" class="col-lg-9">

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/Accordion.js"></script>
    <script src="~/js/SearchedBooks.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {
            SearchBooks("@Model.WordInput", 1, @Model.IdGenre, @(Model.RatingOrdered == true ? 1 : 0));
        });

    </script>

    <script type="text/javascript">


        $(document).ready(function () {
            $('#accordion a').on('click', function (e) {
                //var elements = $('accordion a');
                $("#accordion li").removeClass("selectedGenre");
                $(this).parent("li").addClass("selectedGenre");
                //alert(this.textContent);

            });

                $.ajax({
                    type: "GET",
                    url: '/SearchBook/LastVisitBooks',

                    data: { },
                    success: function (data) {
                        $("#lastVisitBooks").html(data);
                    }
                });
        });

    </script>
}

@section Css {
    <link href="~/css/searchBook.css" rel="stylesheet" />
}