@model BookMarket.Models.ViewModels.Authors.DetailViewModel

@{
    ViewData["Title"] = Model.author.NameFamily;
}

@section Css {
    <link href="~/css/authors.css" rel="stylesheet" />
}

<div class="container AboutAuthor">
    <h3 class="text-center">Автор @Model.author.NameFamily</h3>
    @foreach (var item in Model.books)
    {
        <div class="row bg-white bookResult">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 text-center bookResult__Poster">
                        <a asp-action="AboutBook" asp-controller="Books" asp-route-id="@item.Id" asp-route-name="@item.Name.ToTranslit()">
                            <img src="data:image;base64, @System.Convert.ToBase64String(item.PosterBook)" alt="PosterBook" />
                        </a>
                    </div>
                    <div class="col-lg-7 bookResult__about">
                        <a asp-action="AboutBook" asp-controller="Books" asp-route-id="@item.Id" asp-route-name="@item.Name.ToTranslit()">
                            <h3 class="text-center">@item.Name</h3>
                        </a>
                        <div class="row">
                            <h5 class="col-xl-5 text-center text-xl-left">Жанр</h5>
                            <h6 class="col-xl text-center text-xl-left">@item.CategoryName</h6>
                        </div>
                        <div class="row">
                            @if (item.RatingBook != 0)
                            {
                                <h5 class="col-xl-5 text-center text-xl-left">Рейтинг</h5>
                                <h6 class="col-xl text-center text-xl-left about__rating">@item.RatingBook.ToString("0.00") <span>★</span></h6>
                            }
                            else
                            {
                                <h5 class="col-xl-5 text-center text-xl-left">Рейтинг</h5>
                                <h6 class="col-xl text-center text-xl-left">Поставьте оценку первым!</h6>
                            }
                        </div>
                        <div class="row">
                            <h5 class="col-xl-5 text-center text-xl-left">Дата добавления</h5>
                            <h6 class="col-xl text-center text-xl-left">@item.AddDatabase.ToString("D")</h6>
                        </div>
                    </div>
                    <div class="col-lg-2 bookResult__buttons">
                        <div class="row d-flex justify-content-center">
                            <a class="mybtn btn btn-primary" asp-action="GetBook" asp-controller="Books" asp-route-idBook="@item.Id">
                                Читать <i class="fa fa-search"></i>
                            </a>
                            <a class="mybtn btn btn-primary" asp-action="AboutBook" asp-controller="Books" asp-route-id="@item.Id" asp-route-name="@item.Name.ToTranslit()">
                                О книге <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg bookResult__text text-center">
                        @item.Description...
                    </div>
                </div>
            </div>
        </div>
    }
</div>
